* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    background-color: #1e1e2e; /* Arrière-plan principal sombre */
}

/* Conteneur principal */
.container {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .box {
    height: 86vh;
    width: 75%;
    padding: 0 20px;
    background: rgba(255, 255, 255, 0.08); /* Arrière-plan semi-transparent */
    z-index: 10;
    display: flex;
    position: relative;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.2); /* Bordure subtile */
    backdrop-filter: blur(25px);
    box-shadow: -15px 17px 17px rgba(10, 10, 10, 0.2);
}

.container::after {
    content: '';
    position: absolute;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    transform: translate(490px, 150px);
    z-index: 0;
}

/* Navbar */
.container .box nav {
    height: 10%;
    width: 95%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.container .box nav ul li {
    display: inline-block;
    padding: 15px 35px;
    list-style: none;
}

.container .box nav ul li a {
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    color: #6f34fe; /* Couleur claire pour le texte */
    transition: 0.3s;
}

.container .box nav ul li a:hover {
    color: #6f34fe; /* Violet pour le survol */
}

.container .box nav .logo {
    font-size: 35px;
    color: #ffffff; /* Texte blanc */
    font-weight: bold;
    margin-top: 5px;
    margin-left: 30px;
}

/* Sections */
.container .box .contains {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 8%;
    padding-left: 80px;
}

.contains .section-1 {
    position: relative;
    width: 40%;
}
